// 產品細節頁
.solutionDetailPage {
  .content {
    margin-bottom: 2rem;
    p {
      font-size: 1.2rem;
      color: var(--textBlack);
      line-height: 3rem;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}

.solutionPage {
  .solutionCard {
    position: relative;
    .cardTitle {
      left: 10%;
    }
    p {
      position: absolute;
      z-index: 1300;
      color: white;
      left: 10px;
      top: 80px;
      font-weight: bold;
    }
  }
}

@media (max-width: 576px) {
  .solutionDetailPage {
    .content {
      p {
        font-size: 1.1rem;
        line-height: 2rem;
        letter-spacing: 1px;
      }
    }
  }
}
