// 產品細節頁
.solutionDetailPage {
  .content {
    margin-bottom: 2rem;
    p {
      font-size: 1.2rem;
      color: var(--textBlack);
      line-height: 3rem;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}

.solutionPage {
  .solutionCard {
    .cardTitle {
      left: 10%;
    }
  }
}

@media (max-width: 576px) {
  .solutionDetailPage {
    .content {
      p {
        font-size: 1.1rem;
        line-height: 2rem;
        letter-spacing: 1px;
      }
    }
  }
}
